<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b1ba4985-a6c5-4b8c-b75c-ef38a12c92c1/resourcegroups/CXploraWebsite20260102171017ResourceGroup/providers/Microsoft.Web/sites/CXploraWebsite20260102171017</ResourceId>
    <ResourceGroup>CXploraWebsite20260102171017ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cxplorawebsite20260102171017-ayh9dzhpakc6d4bp.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>81a08d2e-3d9a-de68-693f-d56b4f72c271</ProjectGuid>
    <PublishUrl>https://cxplorawebsite20260102171017-ayh9dzhpakc6d4bp.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>